.profile-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-container h2,
.profile-container h3{
  text-align: center;
  color: #007bff;
}

.profile-sections-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.profile-section {
  flex: 1 1 300px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.profile-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-container label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #333;
}

.profile-container input,
.profile-container select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #aaa;
  margin-top: 5px;
}

.profile-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-container button:hover {
  background-color: #0056b3;
}

.profile-navigation-buttons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.profile-navigation-buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1 1 300px;
}

.profile-navigation-buttons button:hover {
  background-color: #0056b3;
}